.table2
{
  border: 1px solid white;
  border-collapse: collapse;
}
.table2 th
{
  border: 1px solid white;
  border-collapse: collapse;
  background-color: #96D4D4;
}
.table2 td
{
  border: 1px solid white;
  border-collapse: collapse;
  background-color: #96D4D4;
}


.table1 td
{
  border: 1px solid black;
  border-collapse:collapse;
}
.table1 th
{
  border: 1px solid black;
  border-collapse:collapse;
}
.table1
{
  background-color:white;
  border-collapse:collapse;
}

.table3
{
  background-color: #96D4D4;

  border-collapse: separate;

}
.table3 td
{
  border: 5px solid white;
 border-radius: 10px;
}
.table3 th
{
  border: 5px solid white;
 border-radius: 10px;
}
.table4
{
  background-color: #96D4D4;



}
.table4 td
{

 border-style:dotted;
}
.table4 th
{


 border-style:dotted;
}
.table5
{
  background-color: white;
}
.table5 td
{
border-color: red;
border-style: solid;

}
.table5 th
{

border-color: red;
border-style: solid;
}
